<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings><add name="StravaEntities" connectionString="metadata=res://*/StravaModel.csdl|res://*/StravaModel.ssdl|res://*/StravaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Strava;integrated security=True;persist security info=False;pooling=False;multipleactiveresultsets=False;connect timeout=60;encrypt=False;trustservercertificate=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>